<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>    
    <body>


        <div ng-app="mainApp" ng-controller="todoController">
            <input type="text" ng-model="todoName">
            <button type="button" ng-click="onSubmit()">Save</button>

            <ul>
                <li ng-repeat="todo in todo">
                    <span>{{todo.name}}</span><span><input type="checkbox" ng-click="itemCompleted($index)" ng-model="todo.active" ></span>
                </li>
            </ul>

            <div>
                <p>Items to complete {{ count }}</p>
                
                
            </div>
            <div>
                Items completed {{completedCount}}
                <ul>
                    <li ng-repeat="completed in completed">
                        <span>{{completed.name}}</span><input type="checkbox" ng-click="itemTodoAgain($index)" ng-model="completed.active">
                    </li>
                </ul>
                
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>    
</html>